@import '../../../../../dist/scss/variables.scss';

.input {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    

    input{

        border: none;
        background: white;

        font-size: 16px;
        color: black;
        text-align: center;

        padding: 5px;
        box-sizing: border-box;

        &::placeholder{
            color: black;
        }
    }

    button{
    
        border: none;
    
        width: 40%;
        padding: 10px;
    
        background: $add-color;
        
        font-size: 16px;
        color: $secondary-text-color;
        text-align: center;

        border-radius: 50px;
    }
}

